[**LC Platform Dev Accelerators v0.1.0**](../README.md)

***

[LC Platform Dev Accelerators](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/core/types/configuration.ts:32](https://github.com/stainedhead/lc-platform-dev-accelerators/blob/12c3626979e745866113de19cb4bb33222f28139/src/core/types/configuration.ts#L32)

## Properties

### valid

> **valid**: `boolean`

Defined in: [src/core/types/configuration.ts:33](https://github.com/stainedhead/lc-platform-dev-accelerators/blob/12c3626979e745866113de19cb4bb33222f28139/src/core/types/configuration.ts#L33)

***

### errors

> **errors**: `ValidationError`[]

Defined in: [src/core/types/configuration.ts:34](https://github.com/stainedhead/lc-platform-dev-accelerators/blob/12c3626979e745866113de19cb4bb33222f28139/src/core/types/configuration.ts#L34)
